Win_Des_BataClub/Service References/ws_bataclub/ws_bataclub1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bataclub.com.pe/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bataclub.com.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bataclub.com.pe/">
      <s:element name="ws_conexion">
        <s:complexType />
      </s:element>
      <s:element name="ws_conexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_conexionResult" type="tns:conexion_ws" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="conexion_ws">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_error" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="des_error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Autenticacion" type="tns:Autenticacion" />
      <s:complexType name="Autenticacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user_password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user_name" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="list_client">
        <s:complexType />
      </s:element>
      <s:element name="list_clientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list_clientResult" type="tns:ListaCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="barra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="list_items">
        <s:complexType />
      </s:element>
      <s:element name="list_itemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list_itemsResult" type="tns:ListaItems" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lista" type="tns:ArrayOfListaCliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfListaCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaCliente" nillable="true" type="tns:ListaCliente" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_genera_list_barra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list_cliente" type="tns:ListaItems" />
            <s:element minOccurs="1" maxOccurs="1" name="_pordes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_dias" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_pares_max" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_tipo_des" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_genera_list_barraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_genera_list_barraResult" type="tns:ArrayOfListaCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_genera_cupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_dni" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_pordes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_dias" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_pares_max" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_tipo_des" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_genera_cuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_genera_cuponResult" type="tns:data_genera_cupon" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="data_genera_cupon">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_error" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="des_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_barra" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_conexionSoapIn">
    <wsdl:part name="parameters" element="tns:ws_conexion" />
  </wsdl:message>
  <wsdl:message name="ws_conexionSoapOut">
    <wsdl:part name="parameters" element="tns:ws_conexionResponse" />
  </wsdl:message>
  <wsdl:message name="ws_conexionAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="list_clientSoapIn">
    <wsdl:part name="parameters" element="tns:list_client" />
  </wsdl:message>
  <wsdl:message name="list_clientSoapOut">
    <wsdl:part name="parameters" element="tns:list_clientResponse" />
  </wsdl:message>
  <wsdl:message name="list_itemsSoapIn">
    <wsdl:part name="parameters" element="tns:list_items" />
  </wsdl:message>
  <wsdl:message name="list_itemsSoapOut">
    <wsdl:part name="parameters" element="tns:list_itemsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_genera_list_barraSoapIn">
    <wsdl:part name="parameters" element="tns:ws_genera_list_barra" />
  </wsdl:message>
  <wsdl:message name="ws_genera_list_barraSoapOut">
    <wsdl:part name="parameters" element="tns:ws_genera_list_barraResponse" />
  </wsdl:message>
  <wsdl:message name="ws_genera_cuponSoapIn">
    <wsdl:part name="parameters" element="tns:ws_genera_cupon" />
  </wsdl:message>
  <wsdl:message name="ws_genera_cuponSoapOut">
    <wsdl:part name="parameters" element="tns:ws_genera_cuponResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_BataClubSoap">
    <wsdl:operation name="ws_conexion">
      <wsdl:input message="tns:ws_conexionSoapIn" />
      <wsdl:output message="tns:ws_conexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="list_client">
      <wsdl:input message="tns:list_clientSoapIn" />
      <wsdl:output message="tns:list_clientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="list_items">
      <wsdl:input message="tns:list_itemsSoapIn" />
      <wsdl:output message="tns:list_itemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_genera_list_barra">
      <wsdl:input message="tns:ws_genera_list_barraSoapIn" />
      <wsdl:output message="tns:ws_genera_list_barraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_genera_cupon">
      <wsdl:input message="tns:ws_genera_cuponSoapIn" />
      <wsdl:output message="tns:ws_genera_cuponSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_BataClubSoap" type="tns:WS_BataClubSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_conexion">
      <soap:operation soapAction="http://bataclub.com.pe/ws_conexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ws_conexionAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_client">
      <soap:operation soapAction="http://bataclub.com.pe/list_client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_items">
      <soap:operation soapAction="http://bataclub.com.pe/list_items" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_genera_list_barra">
      <soap:operation soapAction="http://bataclub.com.pe/ws_genera_list_barra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_genera_cupon">
      <soap:operation soapAction="http://bataclub.com.pe/ws_genera_cupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_BataClubSoap12" type="tns:WS_BataClubSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_conexion">
      <soap12:operation soapAction="http://bataclub.com.pe/ws_conexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ws_conexionAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_client">
      <soap12:operation soapAction="http://bataclub.com.pe/list_client" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_items">
      <soap12:operation soapAction="http://bataclub.com.pe/list_items" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_genera_list_barra">
      <soap12:operation soapAction="http://bataclub.com.pe/ws_genera_list_barra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_genera_cupon">
      <soap12:operation soapAction="http://bataclub.com.pe/ws_genera_cupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_BataClub">
    <wsdl:port name="WS_BataClubSoap" binding="tns:WS_BataClubSoap">
      <soap:address location="http://www.bgr.pe/ws_bataclub/ws_bataclub.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_BataClubSoap12" binding="tns:WS_BataClubSoap12">
      <soap12:address location="http://www.bgr.pe/ws_bataclub/ws_bataclub.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>