WPF_ConsData/Service References/ServiceMetricard/ServicioCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bataperu-ws.azurewebsites.net/ServicioCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" />
  <xs:element name="EsCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsCliente_DniString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsCliente_DniStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsCliente_DniStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ObtenerDatosClienteResult" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosCliente_DniString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosCliente_DniStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ObtenerDatosCliente_DniStringResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarDatosNuevoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarDatosNuevoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="IngresarDatosNuevoClienteResult" nillable="true" type="q4:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDatosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="cliente" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDatosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ActualizarDatosClienteResult" nillable="true" type="q6:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoBienvenidaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoBienvenidaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="EnviarCorreoBienvenidaClienteResult" nillable="true" type="q7:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoBienvenidaCliente_DniString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoBienvenidaCliente_DniStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="EnviarCorreoBienvenidaCliente_DniStringResult" nillable="true" type="q8:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>