Proy_PruebaMetriCard/Service References/ServiceMetricard/ServicioCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioCliente_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bataperu-ws.azurewebsites.net/ServicioCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bataperu-ws.azurewebsites.net/ServicioCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bataperu-ws.azurewebsites.net/ServicioCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCliente_EsCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EsCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EsCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EsCliente_DniString_InputMessage">
    <wsdl:part name="parameters" element="tns:EsCliente_DniString" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EsCliente_DniString_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsCliente_DniStringResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ObtenerDatosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ObtenerDatosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ObtenerDatosCliente_DniString_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosCliente_DniString" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ObtenerDatosCliente_DniString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosCliente_DniStringResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_IngresarDatosNuevoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarDatosNuevoCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_IngresarDatosNuevoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarDatosNuevoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ActualizarDatosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatosCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ActualizarDatosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EnviarCorreoBienvenidaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoBienvenidaCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EnviarCorreoBienvenidaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoBienvenidaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EnviarCorreoBienvenidaCliente_DniString_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoBienvenidaCliente_DniString" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_EnviarCorreoBienvenidaCliente_DniString_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoBienvenidaCliente_DniStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCliente">
    <wsdl:operation name="EsCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/EsCliente" message="tns:IServicioCliente_EsCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/EsClienteResponse" message="tns:IServicioCliente_EsCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EsCliente_DniString">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/EsCliente_DniString" message="tns:IServicioCliente_EsCliente_DniString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/EsCliente_DniStringResponse" message="tns:IServicioCliente_EsCliente_DniString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ObtenerDatosCliente" message="tns:IServicioCliente_ObtenerDatosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ObtenerDatosClienteResponse" message="tns:IServicioCliente_ObtenerDatosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente_DniString">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ObtenerDatosCliente_DniString" message="tns:IServicioCliente_ObtenerDatosCliente_DniString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ObtenerDatosCliente_DniStringResponse" message="tns:IServicioCliente_ObtenerDatosCliente_DniString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarDatosNuevoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/IngresarDatosNuevoCliente" message="tns:IServicioCliente_IngresarDatosNuevoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/IngresarDatosNuevoClienteResponse" message="tns:IServicioCliente_IngresarDatosNuevoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ActualizarDatosCliente" message="tns:IServicioCliente_ActualizarDatosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ActualizarDatosClienteResponse" message="tns:IServicioCliente_ActualizarDatosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoBienvenidaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente" message="tns:IServicioCliente_EnviarCorreoBienvenidaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaClienteResponse" message="tns:IServicioCliente_EnviarCorreoBienvenidaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoBienvenidaCliente_DniString">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente_DniString" message="tns:IServicioCliente_EnviarCorreoBienvenidaCliente_DniString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente_DniStringResponse" message="tns:IServicioCliente_EnviarCorreoBienvenidaCliente_DniString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCliente" type="tns:IServicioCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EsCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsCliente_DniString">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EsCliente_DniString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ObtenerDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente_DniString">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ObtenerDatosCliente_DniString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarDatosNuevoCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/IngresarDatosNuevoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ActualizarDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoBienvenidaCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoBienvenidaCliente_DniString">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente_DniString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioCliente" type="tns:IServicioCliente">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioCliente_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EsCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsCliente_DniString">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EsCliente_DniString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ObtenerDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente_DniString">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ObtenerDatosCliente_DniString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarDatosNuevoCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/IngresarDatosNuevoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ActualizarDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoBienvenidaCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoBienvenidaCliente_DniString">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/EnviarCorreoBienvenidaCliente_DniString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCliente">
    <wsdl:port name="BasicHttpBinding_IServicioCliente" binding="tns:BasicHttpBinding_IServicioCliente">
      <soap:address location="http://bataperu-ws.azurewebsites.net/ServicioCliente.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioCliente" binding="tns:BasicHttpsBinding_IServicioCliente">
      <soap:address location="https://bataperu-ws.azurewebsites.net/ServicioCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>