WPF_ConsData/Service References/ws_clientedniruc/Cons_Cliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.consultabata.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.consultabata.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.consultabata.com/">
      <s:element name="ws_validatdabgwb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cod_tda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_validatdabgwbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ws_validatdabgwbResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_apepat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_apemat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_update_clienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_venta_empl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Tip_Id_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Nro_Dni_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Cod_Tda_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Nro_Doc_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Tip_Doc_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Ser_Doc_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Num_Doc_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Fec_Doc_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Est_Doc_Ven" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Fc_Nin_Ven" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_venta_emplResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_update_venta_emplResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_vales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_serie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_cod_tda_venta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_dni_venta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombres_venta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fecha_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tipo_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_serie_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_numero_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_estado_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fc_nint" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email_venta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_telefono_venta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_valesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_update_valesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_buscar_vales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_buscar_valesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_buscar_valesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_buscar_desxdni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_codtda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tip_des" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_buscar_desxdniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_buscar_desxdniResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_conscliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_dniruc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_consclienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_consclienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_reniec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_reniecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_persona_reniecResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_info_sunat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ruc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_info_sunatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_info_sunatResult" type="tns:Data_Sunat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Data_Sunat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_persona_sunat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ruc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_sunatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_persona_sunatResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_verifica_version_apltda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cod_tda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nom_apl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ver_apl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_verifica_version_apltdaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ws_verifica_version_apltdaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_apltda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cod_tda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nom_apl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ver_apl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_apltdaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_update_apltdaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_validatdabgwbSoapIn">
    <wsdl:part name="parameters" element="tns:ws_validatdabgwb" />
  </wsdl:message>
  <wsdl:message name="ws_validatdabgwbSoapOut">
    <wsdl:part name="parameters" element="tns:ws_validatdabgwbResponse" />
  </wsdl:message>
  <wsdl:message name="ws_update_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:ws_update_cliente" />
  </wsdl:message>
  <wsdl:message name="ws_update_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:ws_update_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="ws_update_venta_emplSoapIn">
    <wsdl:part name="parameters" element="tns:ws_update_venta_empl" />
  </wsdl:message>
  <wsdl:message name="ws_update_venta_emplSoapOut">
    <wsdl:part name="parameters" element="tns:ws_update_venta_emplResponse" />
  </wsdl:message>
  <wsdl:message name="ws_update_valesSoapIn">
    <wsdl:part name="parameters" element="tns:ws_update_vales" />
  </wsdl:message>
  <wsdl:message name="ws_update_valesSoapOut">
    <wsdl:part name="parameters" element="tns:ws_update_valesResponse" />
  </wsdl:message>
  <wsdl:message name="ws_buscar_valesSoapIn">
    <wsdl:part name="parameters" element="tns:ws_buscar_vales" />
  </wsdl:message>
  <wsdl:message name="ws_buscar_valesSoapOut">
    <wsdl:part name="parameters" element="tns:ws_buscar_valesResponse" />
  </wsdl:message>
  <wsdl:message name="ws_buscar_desxdniSoapIn">
    <wsdl:part name="parameters" element="tns:ws_buscar_desxdni" />
  </wsdl:message>
  <wsdl:message name="ws_buscar_desxdniSoapOut">
    <wsdl:part name="parameters" element="tns:ws_buscar_desxdniResponse" />
  </wsdl:message>
  <wsdl:message name="ws_consclienteSoapIn">
    <wsdl:part name="parameters" element="tns:ws_conscliente" />
  </wsdl:message>
  <wsdl:message name="ws_consclienteSoapOut">
    <wsdl:part name="parameters" element="tns:ws_consclienteResponse" />
  </wsdl:message>
  <wsdl:message name="ws_persona_reniecSoapIn">
    <wsdl:part name="parameters" element="tns:ws_persona_reniec" />
  </wsdl:message>
  <wsdl:message name="ws_persona_reniecSoapOut">
    <wsdl:part name="parameters" element="tns:ws_persona_reniecResponse" />
  </wsdl:message>
  <wsdl:message name="ws_info_sunatSoapIn">
    <wsdl:part name="parameters" element="tns:ws_info_sunat" />
  </wsdl:message>
  <wsdl:message name="ws_info_sunatSoapOut">
    <wsdl:part name="parameters" element="tns:ws_info_sunatResponse" />
  </wsdl:message>
  <wsdl:message name="ws_persona_sunatSoapIn">
    <wsdl:part name="parameters" element="tns:ws_persona_sunat" />
  </wsdl:message>
  <wsdl:message name="ws_persona_sunatSoapOut">
    <wsdl:part name="parameters" element="tns:ws_persona_sunatResponse" />
  </wsdl:message>
  <wsdl:message name="ws_verifica_version_apltdaSoapIn">
    <wsdl:part name="parameters" element="tns:ws_verifica_version_apltda" />
  </wsdl:message>
  <wsdl:message name="ws_verifica_version_apltdaSoapOut">
    <wsdl:part name="parameters" element="tns:ws_verifica_version_apltdaResponse" />
  </wsdl:message>
  <wsdl:message name="ws_update_apltdaSoapIn">
    <wsdl:part name="parameters" element="tns:ws_update_apltda" />
  </wsdl:message>
  <wsdl:message name="ws_update_apltdaSoapOut">
    <wsdl:part name="parameters" element="tns:ws_update_apltdaResponse" />
  </wsdl:message>
  <wsdl:portType name="Cons_ClienteSoap">
    <wsdl:operation name="ws_validatdabgwb">
      <wsdl:input message="tns:ws_validatdabgwbSoapIn" />
      <wsdl:output message="tns:ws_validatdabgwbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_update_cliente">
      <wsdl:input message="tns:ws_update_clienteSoapIn" />
      <wsdl:output message="tns:ws_update_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_update_venta_empl">
      <wsdl:input message="tns:ws_update_venta_emplSoapIn" />
      <wsdl:output message="tns:ws_update_venta_emplSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_update_vales">
      <wsdl:input message="tns:ws_update_valesSoapIn" />
      <wsdl:output message="tns:ws_update_valesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_buscar_vales">
      <wsdl:input message="tns:ws_buscar_valesSoapIn" />
      <wsdl:output message="tns:ws_buscar_valesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_buscar_desxdni">
      <wsdl:input message="tns:ws_buscar_desxdniSoapIn" />
      <wsdl:output message="tns:ws_buscar_desxdniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_conscliente">
      <wsdl:input message="tns:ws_consclienteSoapIn" />
      <wsdl:output message="tns:ws_consclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_persona_reniec">
      <wsdl:input message="tns:ws_persona_reniecSoapIn" />
      <wsdl:output message="tns:ws_persona_reniecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_info_sunat">
      <wsdl:input message="tns:ws_info_sunatSoapIn" />
      <wsdl:output message="tns:ws_info_sunatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_persona_sunat">
      <wsdl:input message="tns:ws_persona_sunatSoapIn" />
      <wsdl:output message="tns:ws_persona_sunatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_verifica_version_apltda">
      <wsdl:input message="tns:ws_verifica_version_apltdaSoapIn" />
      <wsdl:output message="tns:ws_verifica_version_apltdaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_update_apltda">
      <wsdl:input message="tns:ws_update_apltdaSoapIn" />
      <wsdl:output message="tns:ws_update_apltdaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cons_ClienteSoap" type="tns:Cons_ClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_validatdabgwb">
      <soap:operation soapAction="http://www.consultabata.com/ws_validatdabgwb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_cliente">
      <soap:operation soapAction="http://www.consultabata.com/ws_update_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_venta_empl">
      <soap:operation soapAction="http://www.consultabata.com/ws_update_venta_empl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_vales">
      <soap:operation soapAction="http://www.consultabata.com/ws_update_vales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_buscar_vales">
      <soap:operation soapAction="http://www.consultabata.com/ws_buscar_vales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_buscar_desxdni">
      <soap:operation soapAction="http://www.consultabata.com/ws_buscar_desxdni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_conscliente">
      <soap:operation soapAction="http://www.consultabata.com/ws_conscliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_reniec">
      <soap:operation soapAction="http://www.consultabata.com/ws_persona_reniec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_info_sunat">
      <soap:operation soapAction="http://www.consultabata.com/ws_info_sunat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_sunat">
      <soap:operation soapAction="http://www.consultabata.com/ws_persona_sunat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_verifica_version_apltda">
      <soap:operation soapAction="http://www.consultabata.com/ws_verifica_version_apltda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_apltda">
      <soap:operation soapAction="http://www.consultabata.com/ws_update_apltda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Cons_ClienteSoap12" type="tns:Cons_ClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_validatdabgwb">
      <soap12:operation soapAction="http://www.consultabata.com/ws_validatdabgwb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_cliente">
      <soap12:operation soapAction="http://www.consultabata.com/ws_update_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_venta_empl">
      <soap12:operation soapAction="http://www.consultabata.com/ws_update_venta_empl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_vales">
      <soap12:operation soapAction="http://www.consultabata.com/ws_update_vales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_buscar_vales">
      <soap12:operation soapAction="http://www.consultabata.com/ws_buscar_vales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_buscar_desxdni">
      <soap12:operation soapAction="http://www.consultabata.com/ws_buscar_desxdni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_conscliente">
      <soap12:operation soapAction="http://www.consultabata.com/ws_conscliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_reniec">
      <soap12:operation soapAction="http://www.consultabata.com/ws_persona_reniec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_info_sunat">
      <soap12:operation soapAction="http://www.consultabata.com/ws_info_sunat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_sunat">
      <soap12:operation soapAction="http://www.consultabata.com/ws_persona_sunat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_verifica_version_apltda">
      <soap12:operation soapAction="http://www.consultabata.com/ws_verifica_version_apltda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_update_apltda">
      <soap12:operation soapAction="http://www.consultabata.com/ws_update_apltda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cons_Cliente">
    <wsdl:port name="Cons_ClienteSoap" binding="tns:Cons_ClienteSoap">
      <soap:address location="http://www.bgr.pe/web_site_cliente/Cons_Cliente.asmx" />
    </wsdl:port>
    <wsdl:port name="Cons_ClienteSoap12" binding="tns:Cons_ClienteSoap12">
      <soap12:address location="http://www.bgr.pe/web_site_cliente/Cons_Cliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>