Service_Envio_Metri/Service References/ServicioConversion/ServicioConversion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bataperu-ws.azurewebsites.net/ServicioConversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" />
  <xs:element name="RegistrarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="documento" nillable="true" type="q1:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="RegistrarDocumentoResult" nillable="true" type="q2:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="tienda" nillable="true" type="q3:Tienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTiendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="AgregarTiendaResult" nillable="true" type="q4:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiendaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiendaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ConsultarTiendaPorIdResult" nillable="true" type="q5:Tienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiendaPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiendaPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ConsultarTiendaPorCodigoResult" nillable="true" type="q6:Tienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="tienda" nillable="true" type="q7:Tienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTiendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ActualizarTiendaResult" nillable="true" type="q8:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCampanaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCampanaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ConsultarCampanaPorIdResult" nillable="true" type="q9:Campana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCampanaPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCampanaPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ConsultarCampanaPorNombreResult" nillable="true" type="q10:ArrayOfCampana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="tipoProducto" nillable="true" type="q11:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="AgregarTipoProductoResult" nillable="true" type="q12:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="tipoProducto" nillable="true" type="q13:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ActualizarTipoProductoResult" nillable="true" type="q14:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ConsultarTipoProductoResult" nillable="true" type="q15:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="producto" nillable="true" type="q16:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="AgregarProductoResult" nillable="true" type="q17:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="producto" nillable="true" type="q18:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ActualizarProductoResult" nillable="true" type="q19:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MetricArts.BataClub.BataPeruService.Data" minOccurs="0" name="ConsultarProductoResult" nillable="true" type="q20:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteConversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteConversionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteConversionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteConversionPorCupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoDescuento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteConversionPorCuponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteConversionPorCuponResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularConversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularConversionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnularConversionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularConversionPorCupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoDescuento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularConversionPorCuponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnularConversionPorCuponResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>